DROP TABLE doctrine_migration_versions;
ALTER TABLE question ADD CONSTRAINT FK_B6F7494EC54C8C93 FOREIGN KEY (type_id) REFERENCES type (id);
CREATE INDEX IDX_B6F7494EC54C8C93 ON question (type_id);
